* {
  margin: 0;
  padding: 0;
}

.appConatiner {
  background-color: var(--pale-grey);
}

.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.filterBar {
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-top: 29px;
  padding-bottom: 29px;
}

.profile-img {
  width: 50px;
  height: 50px;
  margin-right: 50px;
  background-image: url("../user-icon.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1px;
  cursor: pointer;
}

.navBar h1 {
  font-size: 30px;
  color: #0290ff;
  margin-right: 50px;
  font-weight: bold;
}

.book-links span {
  margin-right: 17px;
  margin-left: 17px;
  cursor: pointer;
}

#first-book-link {
  margin-left: 0;
}

.progress-bar {
  width: 60px;
  height: 60px;
  font-size: 1px;
  margin-right: 30px;
  background-image: url("../percentile.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.catChapter span {
  font-size: 18px;
  color: #727171;
}

.catChapter .catChapter-chap {
  color: #c3c3c3;
}

#catLabel {
  font-size: 13px;
}

#catLabel span {
  width: 105px;
  height: 16px;
  margin-left: 41px;
  opacity: 0.5;
  font-size: 13px;
  letter-spacing: 1.9px;
  color: #121212;
}

#category-filter {
  margin-left: 20px;
  width: 150px;
  color: #727171;
  border: 1px solid#727171;
}

.Books-list {
  padding-left: 100px;
  padding-right: 100px;
}

.bookPannel {
  width: 90%;
  height: 130px;
  margin: 20px auto;
  padding: 25px 27px 26px 27px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.form-fild {
  width: 85%;
  padding-top: 20px;
  margin: 37px 100px 50px;
  border-top: 2px solid #e8e8e8;
}

.addLabel {
  font-size: 20px;
  color: #888;
  margin-bottom: 19px;
  width: 100%;
}

.inputFields {
  width: 100%;
}

#title {
  width: 50%;
  height: 46px;
  font-size: 19px;
  padding-left: 17px;
  margin-bottom: 50px;
  color: #888;
  border: 1px solid rgb(187, 186, 186);
}

#category {
  width: 200px;
  margin-left: 34px;
  height: 46px;
  font-size: 19px;
  padding-left: 17px;
  color: rgb(148, 148, 148);
  border: 1px solid rgb(187, 186, 186);
}

#addBtn {
  width: 184px;
  height: 46px;
  padding-left: 17px;
  margin-left: 34px;
  font-size: 18px;
  background-color: #0290ff;
  color: white;
  border: none;
}

.catChapter {
  width: 100%;
  display: flex;
}

.book-cat {
  width: 800px;
}

.book-percentile {
  display: flex;
  padding-right: 50px;
  margin-right: 50px;
  border-right: 2px solid #e8e8e8;
}

.title-update {
  width: 100%;
  display: flex;
}

.with-update-butn {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: #888;
}

.with-update-butn button {
  margin-top: 20px;
  width: 184px;
  height: 33px;
  font-size: 15px;
  background-color: #0290ff;
  color: white;
  border: none;
}

.left-pannel {
  width: 800px;
}

#remobe-book-btn {
  border: none;
  background-color: white;
  margin-left: 17px;
  margin-right: 17px;
  cursor: pointer;
}

.light-blue {
  color: #4386bf;
  font-size: 19px;
}

.book-title {
  width: 197px;
  height: 29px;
  margin: 3px 23px 0 0;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
}

.completed-percentage {
  display: flex;
  flex-direction: column;
}

.completed-percentage .percentage {
  font-size: 32px;
}

.completed-percentage .completed {
  font-size: 14px;
}

.title-percentile {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
@media only screen and (max-width: 1360px) {
  .bookPannel {
    width: 1030px;
  }

  .navBar {
    width: 1353px;
  }
} */
